<footer class="footer">
  <ul>
    <li class="lifooter">Seguimiento de pedidos</li>
    <li class="lifooter">Cambios y devoluciones</li>
    <li class="lifooter">Asistencia al cliente</li>
    <li class="lifooter">Métodos de pago</li>
    <li class="lifooter">Asistencia al cliente</li>
  </ul>

  <br />
  <div class="caja2">
    <span class="politics">Política de privacidad</span>
    <span class="politics">Términos y condiciones</span>
    <span class="politics"
      >Defensa del consumidor: Para consultas y/o denuncias ingrese aquí</span
    >
  </div>
</footer>
