<header class="pagina-de-cabecera">
    <nav id="nav-bara">
        
        <div class="search">
          <input type="search" placeholder="Search...">
          <button class="button-search" type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="container">
        
        <div class="Envoltura">
          <ul class="ulprimero">
            <li class="inicios">
              <a href="linkdeayuda.com" class="enlaces" >AYUDA</a>
            </li>
            </li>
            <li class="inicios">
              <a href="http://localhost:3001/users/singin" class="enlaces"> CREAR CUENTA </a>
            </li>
            <li class="inicios">
              <a href="http://localhost:3001/users/singin" class="enlaces"> INICIAR SESIÓN </a>
            </li>
          </ul>
        </div>
      </div>
      <div>
      </nav>
       <nav class="navegacion">
			             <ul class="menu">
				    <li><a href="#" class="cuatro">HOMBRES</a>
                         <ul class="submenu">
						      <li><a href="#">Buzos</a></li>
						      <li><a href="#">Zapatillas</a></li>
						      <li><a href="#">Remeras</a></li>
			             </ul>
				    <li><a href="#" class="cuatro">MUJERES</a>
                         <ul class="submenu">
						      <li><a href="#">Buzos</a></li>
						      <li><a href="#">Zapatillas</a></li>
						      <li><a href="#">Remeras</a></li>
				</ul>
				    <li><a href="#" class="cuatro" >NIÑOS</a>
					     <ul class="submenu">
						      <li><a href="#">Buzos</a></li>
						      <li><a href="#">Zapatillas</a></li>
						      <li><a href="#">Remeras</a></li>
				         </ul>
                    <li><a href="#" class="cuatro">OTROS</a>
					     <ul class="submenu">
						      <li><a href="#">Buzos</a></li>
						      <li><a href="#">Zapatillas</a></li>
						      <li><a href="#">Remeras</a></li>
			             </ul>
        </nav>
    </header>