<head>
  <title>SPOK</title>

  <meta charset="utf-8" />
  <meta
    name="keywords"
    content="venta ropa remeras camperas buzos shoggins medias"
  />
  <meta
    name="descripcion"
    content="Nos presentamos Somos la tineda SPOK y nos dedicamos a la venta de ropa desde el año 1995, en búsqueda de brindar la mejor calidad posible."
  />
  <meta name="author" content="Manu3, grupo12" />
  <meta name="copyright" content="Todos los derechos reservados para manu3" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap"
    rel="stylesheet"
  />
  <link rel="icon" href="Spoklog.png" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"
  />
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/258b4efd0d.js"
    crossorigin="anonymous"
  ></script>
</head>
