<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet">
  <title>Carrito</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Grupo 12</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <i class="fa-regular fa-cart-circle-plus"></i>
      </div>
    </div>
  </nav>
  <div class="card">
    <h5 class="card-header">Resumen de tu compra</h5>
    <div class="card-body">
      <p class="card-text inline"><strong>1 </strong>Artículo en tu compra</p>
      <p class="card-title textoDerecha ">Subtotal:</p>
      <h5 class="card-text textoDerecha">31.459,00</h5>
    </div>
  </div>
  <h4>Artículos seleccionados</h4>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/images/Nike_Revolution.jpg" class="img-fluid rounded-start" alt="Zapatillas Nike">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Zapatillas Nike Revolution 6 0454 Nike 6 Cs</h5>
          <p class="card-text">$31.459</p>
          <p>Talle 43</p>
          <div class="CantidadArticuloCarrito">
            <p class="card-text"><small class="text-muted"><Strong>Cantidad:</Strong></small></p>
            <input type="text" name="text" class="inputCantidad" placeholder="1 Artículo">
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-primary botonCentrado">Finalizar Compra</a>
  <div class="logos">
    <img src="/images/fila.svg" class="top">
    <img src="/images/vans.svg" class="top">
    <img src="/images/newbalance.svg" class="top">
    <img src="/images/converse.svg" class="top">
    <img src="/images/champion.svg" class="top">
    <img src="/images/puma.svg" class="top">
    <img src="/images/nike.svg" class="top">
    <img src="/images/adides.svg" class="top">
  </div>
  </main>
  <%- include('../partials/footer'); -%>
  <script src="https://kit.fontawesome.com/44cb4f9f6f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>